.trigger {
    height: 100vh;
    width: 100vw;
}

.canvas1{
    
    position: fixed;
    top: 16%;
    right:15% ;
    height: 70vh;
    width: 70vh;

}
.canvas2{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.testing-tilt{
    height: 100px;
    width: 100px;
    background-color: red;
}



.heart-container{
   position: absolute;
   top: 40%;
   left: 55%;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  left: 100px;
  top: 100px;
  transform: translate(-50%, -50%);
}

.line {
  height: 5px;
  background-color: orange;
  position: absolute;
  left: 100px;
  top: 100px;
  transform-origin: left center;
}
